@using iHealth.Core.Application.ViewModels.LabTestViewModel;
@model SaveLabTestViewModel;
<form asp-action="AddLabTest" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" id="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-outline-danger" /><br />
    <a class="btn btn-outline-info" asp-action="Index" asp-controller="LabTest">Cancel</a>
</form>